@{
  Layout = "_Layout";
}
<main id="cart-main">
  <div class="site-title text-center">
    <h1 class="font-title">Shopping Cart</h1>
  </div>
  <div class="container">
    <div class="grid">
      <div class="col-1">
        <div class="flex item justify-content-between">
          <div class="flex">
            <div class="img text-center">
              <img src="./assets/pro1.png" alt="">
            </div>
            <div class="title">
              <h3>Canon EOS 1500D</h3>
              <span>Electronics</span>
              <div class="buttons">
                <button type="submit"><i class="fas fa-chevron-up"></i> </button>
                <input type="text" class="font-title" value="1">
                <button type="submit"><i class="fas fa-chevron-down"></i> </button>
              </div>
              <a href="#">Save for later</a> |
              <a href="#">Delete From Cart</a>
            </div>
          </div>
          <div class="price">
            <h4 class="text-red">$349</h4>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="subtotal text-center">
          <h3>Price Details</h3>
          <ul>
            <li class="flex justify-content-between">
              <label for="price">Products ( 3 items ) : </label>
              <span>$399</span>
            </li>
            <li class="flex justify-content-between">
              <label for="price">Delivery Charges : </label>
              <span>Free</span>
            </li>
            <hr>
            <li class="flex justify-content-between">
              <label for="price">Amout Payble : </label>
              <span class="text-red font-title">$399</span>
            </li>
          </ul>
          <div id="paypal-payment-button">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div id="smart-button-container">
  <div style="text-align: center;">
    <div style="margin-bottom: 1.25rem;">
      <p></p>
      <select id="item-options">
        <option value="" price=""> - USD</option>
      </select>
      <select style="visibility: hidden" id="quantitySelect"></select>
    </div>
    <div id="paypal-button-container"></div>
  </div>
</div>
<div id="smart-button-container">
  @* <div style="text-align: center"><label for="description">Total cost: </label><input type="text"
  name="descriptionInput" id="description" maxlength="127" value=""></div> *@
  @* <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
  *@
  <div style="text-align: center"><label for="amount">Payment amount: </label><input name="amountInput" type="number"
      id="amount" value=""><span> USD</span></div>
  <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
  <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input
      name="invoiceid" maxlength="127" type="text" id="invoiceid" value=""></div>
  <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
  <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD"
  data-sdk-integration-source="button-factory"></script>
<script>
  function initPayPalButton() {
    var amount = document.querySelector('#smart-button-container #amount');
    var priceError = document.querySelector('#smart-button-container #priceLabelError');
    var invoiceid = document.querySelector('#smart-button-container #invoiceid');
    var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
    var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');

    var elArr = [amount];

    if (invoiceidDiv.firstChild.innerHTML.length > 1) {
      invoiceidDiv.style.display = "block";
    }

    var purchase_units = [];
    purchase_units[0] = {};
    purchase_units[0].amount = {};

    function validate(event) {
      return event.value.length > 0;
    }

    paypal.Buttons({
      style: {
        color: 'gold',
        shape: 'pill',
        label: 'checkout',
        layout: 'vertical',

      },

      onInit: function (data, actions) {
        actions.disable();

        if (invoiceidDiv.style.display === "block") {
          elArr.push(invoiceid);
        }

        elArr.forEach(function (item) {
          item.addEventListener('keyup', function (event) {
            var result = elArr.every(validate);
            if (result) {
              actions.enable();
            } else {
              actions.disable();
            }
          });
        });
      },

      onClick: function () {
        if (amount.value.length < 1) {
          priceError.style.visibility = "visible";
        } else {
          priceError.style.visibility = "hidden";
        }

        if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
          invoiceidError.style.visibility = "visible";
        } else {
          invoiceidError.style.visibility = "hidden";
        }

        purchase_units[0].amount.value = amount.value;

        if (invoiceid.value !== '') {
          purchase_units[0].invoice_id = invoiceid.value;
        }
      },

      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: purchase_units,
        });
      },

      onApprove: function (data, actions) {
        return actions.order.capture().then(function (orderData) {

          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          // Show a success message within this page, e.g.
          const element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Thank you for your payment!</h3>';

          // Or go to another URL:  actions.redirect('thank_you.html');

        });
      },

      onError: function (err) {
        console.log(err);
      }
    }).render('#paypal-button-container');
  }
  initPayPalButton();
</script>
